{% extends 'base.html.twig' %}

{% block body %}

  <div class="container-fluid" style="margin-top:3%;">
    <h2 class="text-center">Les pires Pierre Georges </h2><br>
    <div class="row">
      <div class="col-sm-4"></div>

      <div class="col-sm-4">
        {% for worstQuote in worstQuotes %}
          {% include 'default/_quote.html.twig' with {quote: worstQuote} %}
        {% endfor %}
      </div>

      <div class="col-sm-4"></div>
    </div>
  </div>

{% endblock %}
