{% extends 'base.html.twig' %}

{% block body %}

  <div class="container-fluid" style="margin-top:3%;">
    <h2 class="text-center">Random quote</h2><br>
    <div class="row">
      <div class="col-sm-4"></div>

      <div class="col-sm-4">
          {% include 'default/_quote.html.twig' %}
      </div>

      <div class="col-sm-4"></div>

    </div>
  </div>

{% endblock %}
